
<html>
   <head>
      <meta charset="UTF-8">
      <title>일정관리</title>
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/list.css">      
      <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>

   </head>
   <body>

      <!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div> -->

<div id="menu"></div>

  <div class="tab" id="tab">
    <tab-title> <span class="glyphicon glyphicon-list-alt"> 프로젝트</tab-title>
    <!-- <button class="tablinks" onclick="openCity(event, 'London')">전체</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">웹크롤러</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">기타</button> -->
  </div>


  <!-- <div id="London" class="tabcontent" >
    <div id="myDiv"></div>
  </div> 

  <div id="Paris" class="tabcontent" >

  </div>

  <div id="Tokyo" class="tabcontent" >

  </div> -->

  <div id="project"></div>

  <script src="../js/main.js">

  </script>


   </body>
</html>