<link rel="stylesheet" href="../css/list.css">

<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action row toggle" id="dropdown-detail-1" data-toggle="detail-1">
      <button type="button" class="btn btn-default btn-circle" onclick="alert('asf')"></button>아침먹기</a>

                  <div id="detail-1">
                    <div class="container">
                        <div class="fluid-row">
                            <div>아침 머먹지?</div>
                            <div>짜장면</div>
                        </div>
                    </div>
                </div>

  <a href="#" class="list-group-item list-group-item-action row toggle" id="dropdown-detail-2" data-toggle="detail-2"><button type="button" class="btn btn-default btn-circle"></button>점심먹기</a>

                    <div id="detail-2">
                    <div class="container">
                        <div class="fluid-row">
                            <div>점심은 머먹을까?</div>
                            <div>점심도 맛있는거</div>
                        </div>
                    </div>
                </div>

  <a href="#" class="list-group-item list-group-item-action"><button type="button" class="btn btn-default btn-circle"></button>저녁먹기</a> -->
  <div id="myDiv"></div>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">추가</a>
<script src="../js/list.js"/>


