<link rel="stylesheet" href="../css/menu.css">
<link rel="stylesheet" href="../css/list.css">


<div class="tab" id="tab">
  <tab-title> <span class="glyphicon glyphicon-list-alt"> 프로젝트</tab-title>
  <!-- <button class="tablinks" onclick="openCity(event, 'London')">전체</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">웹크롤러</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">기타</button> -->
</div>


 <!-- <div id="London" class="tabcontent" >
  <div id="myDiv"></div>
 </div> 

<div id="Paris" class="tabcontent" >

</div>

<div id="Tokyo" class="tabcontent" >

</div> -->

<div id="project"></div>

<script src="../js/menu.js">

</script>

<!-- <script src="../js/list.js"/> -->